# Import Modules

### Read all the codes and comments before you use it

In [1]:
# Don't forget to install tweepy before running this code
import tweepy
import pandas as pd
import numpy as np
import datetime

In [2]:
tod = datetime.datetime.now()

str(tod.date())

'2021-03-31'

# Authentication

In [3]:
# Make sure you put "tweeter_api.txt" in your working directory.
with open ("tweeter_api.txt", "r") as myfile:
    data=myfile.readlines()

In [4]:
customer_key = data[0]
customer_key = customer_key[:-1]

customer_secret = data[1]
customer_secret = customer_secret[:-1]

access_token = data[2]
access_token = access_token[:-1]

access_secret = data[3]
access_secret = access_secret[:-1]

In [5]:
auth = tweepy.OAuthHandler(customer_key, customer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

# The Crawler (Specific Users Tweets)

In [6]:
# Do not run this code twice or you will lose all the data.

df = pd.DataFrame({'Date':[],
                   "ID":[],
                   "Name":[],
                   "Text":[],
                   "Hashtags":[],
                   "User Mentions":[],
                   "Symbols":[],
                   "Media":[],
                   "Source":[],
                   "Location":[],
                   "Follower count": [],
                   "Friends count":[],
                   "Favorite count":[],
                   "Retweet count":[],
                   "Status count":[]})

In [7]:
def get_tweet(User_name):
    tweets = api.user_timeline(screen_name = User_name,count=500)

    date = []
    ID = []
    name = []
    text = []
    hashtags = []
    user_mentions = []
    symbols = []
    media = []
    source = []
    location = []
    follower_count = []
    friends_count = []
    favorite_count = []
    retweet_count = []
    status_count = []

    for t in tweets:
        if t.created_at is not None:
            date.append(t.created_at)
        else: 
            date.append(np.nan)

        if t.id_str is not None:
            ID.append(t.id_str)
        else:
            t.append(np.nan)

        if t.user.name is not None:
            name.append(t.user.name)
        else:
            name.append(np.nan)

        if t.text is not None:
            text.append(t.text)
        else:
            text.append(np.nan)

        if t.entities['hashtags'] != []:
            tmp = []
            for h in t.entities['hashtags']:
                tmp.append(h['text'])
            hashtags.append(','.join(tmp))
        else:
            hashtags.append(np.nan)

        if t.entities['user_mentions'] != []:
            tmp = []
            for u in t.entities['user_mentions']:
                tmp.append(u['name'])
            user_mentions.append(','.join(tmp))
        else:
            user_mentions.append(np.nan)

        if t.entities['symbols'] != []:
            tmp = []
            for s in t.entities['symbols']:
                tmp.append(s['text'])
            symbols.append(','.join(tmp))
        else:
            symbols.append(np.nan)

        try:
            tmp = []
            for m in t.entities['media']:
                tmp.append(m['media_url'])
            media.append(','.join(tmp))
        except:
            media.append(np.nan)
        
        if t.source is not None:
            source.append(t.source)
        else:
            source.append(np.nan)

        if t.user.location is not None:
            location.append(t.user.location)
        else:
            source.append(np.nan)

        if t.user.followers_count is not None:
            follower_count.append(t.user.followers_count)
        else:
            follower_count.append(np.nan)

        if t.user.friends_count is not None:
            friends_count.append(t.user.friends_count)
        else:
            friends_count.append(np.nan)

        if t.favorite_count is not None:
            favorite_count.append(t.favorite_count)
        else:
            favorite_count.append(np.nan)

        if t.retweet_count is not None:
            retweet_count.append(t.retweet_count)
        else:
            retweet_count.append(np.nan)

        if t.user.statuses_count is not None:
            status_count.append(t.user.statuses_count)
        else:
            status_count.append(np.nan)


    data = pd.DataFrame({'Date':date,
                       "ID":ID,
                       "Name":name,
                       "Text":text,
                       "Hashtags":hashtags,
                       "User Mentions":user_mentions,
                       "Symbols":symbols,
                       "Media": media,
                       "Source":source,
                       "Location":location,
                       "Follower count": follower_count,
                       "Friends count":friends_count,
                       "Favorite count":favorite_count,
                       "Retweet count":retweet_count,
                       "Status count":status_count})
    return data

In [8]:
list_of_account = [['YouTube', 'Twitter', 'instagram', 'Google', 'Facebook', 'netflix',
                  'Microsoft', 'Tesla', 'Apple', 'amazon'],
                   ['CHANEL', 'Starbucks', 'VictoriasSecret', 'marcjacobs',
                  'hm', 'Burberry','Dior', 'nikestore', 'LouisVuitton', 'gucci', 'dolcegabbana', 'Versace',
                  'WholeFoods', 'McDonalds', 'Wendys', 'CocaCola'],
                   ['cnnbrk', 'CNN', 'nytimes',
                  'BBCBreaking', 'SportsCenter', 'espn', 'BBCWorld', 'TheEconomist', 'Reuters',
                  'WSJ'], 
                   ['BarackObama', 'POTUS45', 'HillaryClinton', 'JoeBiden',  'Pontifex', 'KamalaHarris'],
                   ['elonmusk', 'JeffBullas', 'SMExaminer', 'KimReynolds', 'JayBaer', 'KimGarst','PamMktgNut',
                   'PeterShankman', 'PegFitzpatrick', 'MarshaCollier', 'NealShaffer', 'BrianCarter', 'RebekahRadice',
                   'JoePulizzi', 'MarkWSchaefer', 'GaryVee', 'TedRubin', 'GuyKawasaki', 'BryanKramer','JasonFalls',
                   'ChrisBrogan', 'MitchJoel'],
                   ['justinbieber', 'katyperry', 'rihanna', 'taylorswift13', 'ladygaga', 'ArianaGrande','selenagomez',
                   'jtimberlake', 'britneyspears', 'ddlovato'], 
                   ['TheEllenShow', 'jimmyfallon', 'akshaykumar', 'KevinHart4real', 'TheRock', 'RobertDowneyJr',
                   'vindiesel', 'TomCruise', 'ChrisEvans', 'GalGadot']] # Insert your list of accounts


industries = ['Tech Company', 'Non-tech Company', 'News', 'Politician', 'Influencer', 'Singer','Actor']

for acc,ind in zip(list_of_account, industries):
    for a in acc:
        tmp = get_tweet(a)
        tmp['Industries'] = ind
        df = df.append(tmp)

In [9]:
df.head(10)

,Date,ID,Name,Text,Hashtags,User Mentions,Symbols,Media,Source,Location,Follower count,Friends count,Favorite count,Retweet count,Status count,Industries
0,2021-03-31 10:26:28,1377205650015543300,YouTube,@smileydaveuk @max_fosh @LloydGriffith üòç üòç,NaN,"Smiley Dave,Max Fosh,Lloyd Griffith",NaN,NaN,Twitter Web App,"San Bruno, CA",73168688.0,1203.0,5.0,0.0,32296.0,Tech Company
1,2021-03-31 10:24:27,1377205141221351424,YouTube,@LloydGriffith @max_fosh üôåüôå,NaN,"Lloyd Griffith,Max Fosh",NaN,NaN,Twitter Web App,"San Bruno, CA",73168688.0,1203.0,12.0,0.0,32296.0,Tech Company
2,2021-03-31 09:59:59,1377198983790084098,YouTube,Controlling a comedian's phone ‚Äî funny or dang...,NaN,"Max Fosh,Lloyd Griffith",NaN,NaN,Sprinklr,"San Bruno, CA",73168688.0,1203.0,382.0,20.0,32296.0,Tech Company
3,2021-03-31 06:30:00,1377146140366315525,YouTube,A üçÑ SUPER üçÑ performance by Maytree music üéµ if ...,NaN,NaN,NaN,http://pbs.twimg.com/amplify_video_thumb/13771...,Twitter Media Studio,"San Bruno, CA",73168688.0,1203.0,890.0,106.0,32296.0,Tech Company
4,2021-03-31 00:12:50,1377051220855037955,YouTube,@gmmustafa2 @Choki_JP As long as you believe!‚ú®,NaN,"gmmustafa,Choki",NaN,NaN,Twitter Web App,"San Bruno, CA",73168688.0,1203.0,6.0,0.0,32296.0,Tech Company
5,2021-03-31 00:11:25,1377050866880933890,YouTube,@Alex39946938 @Choki_JP Home cooking!üßë‚Äçüç≥üè°,NaN,"Alex,Choki",NaN,NaN,Twitter Web App,"San Bruno, CA",73168688.0,1203.0,2.0,0.0,32296.0,Tech Company
6,2021-03-31 00:09:08,1377050291682467840,YouTube,@polromeu @Choki_JP https://t.co/F6u5Rjk1ei,NaN,"polromeu,Choki",NaN,http://pbs.twimg.com/tweet_video_thumb/ExxD8Ht...,Twitter Web App,"San Bruno, CA",73168688.0,1203.0,1.0,0.0,32296.0,Tech Company
7,2021-03-31 00:07:55,1377049986735566852,YouTube,@LonelyM87835182 @Choki_JP Howdy!,NaN,"Lonely Man,Choki",NaN,NaN,Twitter Web App,"San Bruno, CA",73168688.0,1203.0,2.0,0.0,32296.0,Tech Company
8,2021-03-30 22:36:12,1377026903060705287,YouTube,.@Choki_JP‚Äôs home caf√© is an aesthetic wonderl...,NaN,Choki,NaN,http://pbs.twimg.com/amplify_video_thumb/13770...,Sprinklr,"San Bruno, CA",73168688.0,1203.0,846.0,97.0,32296.0,Tech Company
9,2021-03-30 19:55:24,1376986437082435586,YouTube,"@690dollars Yes, you should!‚òÄÔ∏èüíª",NaN,lucidead,NaN,NaN,Twitter Web App,"San Bruno, CA",73168688.0,1203.0,2.0,0.0,32296.0,Tech Company

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15725 entries, 0 to 199
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            15725 non-null  datetime64[ns]
 1   ID              15725 non-null  object
 2   Name            15725 non-null  object
 3   Text            15725 non-null  object
 4   Hashtags        3560 non-null   object
 5   User Mentions   8194 non-null   object
 6   Symbols         15 non-null     object
 7   Media           2665 non-null   object
 8   Source          15725 non-null  object
 9   Location        15725 non-null  object
 10  Follower count  15725 non-null  float64
 11  Friends count   15725 non-null  float64
 12  Favorite count  15725 non-null  float64
 13  Retweet count   15725 non-null  float64
 14  Status count    15725 non-null  float64
 15  Industries      15725 non-null  object
dtypes: datetime64[ns](1), float64(5), object(10)
memory usage: 2.0+ MB

In [11]:
df.describe()

,Follower count,Friends count,Favorite count,Retweet count,Status count
count,1.572500e+04,15725.000000,1.572500e+04,15725.000000,15725.000000
mean,2.537565e+07,45366.475485,1.621944e+04,2528.621367,110142.520890
std,3.126954e+07,115441.447223,8.200095e+04,12997.430465,152781.206564
min,3.000000e+01,0.000000,0.000000e+00,0.000000,2.000000
25%,2.296493e+06,177.000000,1.000000e+00,0.000000,12602.000000
50%,1.092141e+07,735.000000,3.400000e+01,34.000000,36287.000000
75%,3.762933e+07,27431.000000,1.971000e+03,640.000000,169749.000000
max,1.301085e+08,593476.000000,4.206135e+06,571155.000000,718493.000000

In [12]:
df.to_csv("twitter_data({}).csv".format(str(tod.date())), index=False)